*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lobster', cursive;
}

/* Header */
.header {
    display: flex;
    background: #1ac6ff;
    justify-content: space-between;
    height: 70px;
    padding: 0 36px;
    position: sticky;
    top: 0;
    z-index: 99;
    align-items: center;
}

.header .logo {
    cursor: pointer;
    height: 52px;
}

.header .logo img {
    height: 100%;
    width: 210%;
    object-fit: cover;
}

.btn-menu {
    cursor: pointer;
    position: relative;
    width: 48px;
    height: 48px;
    z-index: 101;
    transform: scale(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu span {
    position: absolute;
    background: white;
    transition: all 0.2s linear;
    width: 30px;
    height: 3px;
}

.btn-menu span:nth-child(1) {
    top: 25%;
}

.btn-menu span:nth-child(2) {
    top: 48%;
}

.btn-menu span:nth-child(3) {
    top: 70%;
}

.btn-menu.is-active span {
    background: #1ac6ff;
}

.btn-menu.is-active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.btn-menu.is-active span:nth-child(2) {
    display: none;
}

.btn-menu.is-active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

.menu-header {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-out;
    visibility: hidden;
}

.menu-header__show {
    visibility: visible;
    opacity: 0.8;
    z-index: 100;
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu-list__item a{
    letter-spacing: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1ac6ff;
    height: 88px;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-align: center;
    border-bottom: 1px solid #d4d4d475;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

.menu-list__item a:hover {
    opacity: 0.6;
}

/* Main */

.main {
    width: 100%;
    height: 83vh;
    position: relative;
    top: 10%;
}

.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.2rem;
    z-index: 99;
    color: white;
    cursor: pointer;
}

.slider-next {
    right: 25px;
  }

.slider-prev {
    left: 25px;
}

.slider-dots__list {
    position: absolute;
    z-index: 99;
    bottom: 60px;
    left: 50%;
    align-items: center;
    list-style: none;
    transform: translateX(-50%);
    display: flex;
}

.slider-dots__item {
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #868383;
    cursor: pointer;
    transition: background-color 0.25s linear;
}

.slider-dots__item.active {
    background: #fff;
}
/* Silerder */
.slider-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    height: 100%;
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
    background: #ccefff;
}


.slider-item__content {
    cursor: pointer;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 25px;
    box-sizing: border-box;
}

.slider-item__content img {
    margin-top: -50px;
    height: 70vh;
    width: 100%;
    object-fit: contain;
}

/* Foooter */
.footer {
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #1ac6ff;
    padding: 0 20px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: white;
    z-index: 999
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon a {
    text-decoration: none;
    color: white;
}

.footer-icon i {
    margin: 14px;
    font-size: 2.6rem;
    cursor: pointer;
}

.footer-icon i:hover {
    opacity: 0.8;
}



